*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-list{
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}
.nav-links{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.home,.about{
    height: 90vh;
    position: absolute;
    width: 100%;
}
.home,
.about{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.home-content,
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
